:root {
    --background-color: var(--color-base-0);
    --text-color: var(--color-text-0);

    --link-color: var(--color-primary-2);
    --link-color-hover: var(--color-primary-1);
    --code-color: var(--color-secondary);

    --color-subtle: var(--color-text-1);
    --color-sublime: var(--color-text-2);

    --border-radius: var(--sp2);
    --border-radius-small: var(--sp);
    --border-radius-large: var(--sp4);

    --input-size: var(--sp4);
    --input-size-small: var(--sp3);
    --input-size-smaller: var(--sp2);
    --input-size-large: var(--sp5);
    --input-size-larger: var(--sp6);

    --h1-font-size: 32px;
    --h1-font-weight: var(--font-weight-bold);
    --h1-color: var(--color-text-0);

    --h2-font-size: 28px;
    --h2-font-weight: var(--font-weight);
    --h2-color: var(--color-text-0);

    --h3-font-size: 24px;
    --h3-font-weight: var(--font-weight-bold);
    --h3-color: var(--color-text-0);

    --h4-font-size: 20px;
    --h4-font-weight: var(--font-weight-bold);
    --h4-color: var(--color-text-0);

    --h5-font-size: 16px;
    --h5-font-weight: var(--font-weight-bold);
    --h5-color: var(--color-text-1);

    --h6-font-size: 16px;
    --h6-font-weight: var(--font-weight);
    --h6-color: var(--color-text-2);
}

.Theme-dark {

}
