.input {
  position: relative;
  z-index: 1;

  display: inline-block;
  box-sizing: border-box
  padding: 0 .5em;
  height: $ctl-height;

  vertical-align: baseline;
  outline: 0;

  border-width: 1px;
  border-style: solid;
  border-color: $color-default-border;
  border-radius: $ctl-radius;
  background: WHITE;
  box-shadow: 0 1px 3px $color-default inset;

  &:focus {
    border-color: $color-primary
    box-shadow: 0 0 6px rgba($color-primary, .5);
  }

  &[disabled] {
    background: $color-default;
    color: $color-muted;
  }

}

textarea.input {
  height: auto;
  white-space: pre-wrap;
  resize: none;
}

.input--block {
  display: block;
  width: 100%;
}

for $s in $sizes {
  .input--{$s} {
    font-size: lookup('$type-' + $s);
  }
}

.input--hollow {

  &, &:focus {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}
