i.icon {
  font-style: normal;
}

i.icon--check::before {
  content: '✔︎';
}

i.icon--cross::before {
  content: '✘︎';
}

i.icon--hearts::before {
  content: '♥';
}

i.icon--diamonds::before {
  content: '♦︎';
}

i.icon--clubs::before {
  content: '♣︎';
}

i.icon--spades::before {
  content: '♠︎';
}
