html, body, form, fieldset, img, iframe, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

button, input, select, textarea,
ul, ol, li, dl, dt, dd,
blockquote, p {
  font: inherit;
  white-space: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: 0;
}
