html,
body,
form,
fieldset,
img,
iframe,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
button,
input,
select,
textarea,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
p {
  font: inherit;
  white-space: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  outline: 0;
}
html {
  min-height: 100vh;
  font: 300 16px/1.5 Helvetica Neue, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: #263238;
  background: #fff;
}
html:not(.loaded) * {
  -webkit-transition: none !important;
  transition: none !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 192), (min-resolution: 192dppx) {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
a {
  color: #0288d1;
  cursor: pointer;
}
a:hover {
  color: #12aafd;
}
label {
  cursor: pointer;
}
strong,
.strong {
  font-weight: 500;
}
em,
.em {
  font-style: italic;
}
strike,
.strike {
  text-decoration: line-through;
}
p,
ul,
ol,
li,
dl,
dt,
dd,
figure,
figcaption,
table,
pre {
  margin: 1em 0;
}
ul,
ol {
  padding-left: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.618em 0;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.44rem;
}
h4 {
  font-size: 1.25rem;
}
pre,
code {
  font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.relative {
  position: relative;
}
.block {
  margin: 1em 0;
}
.block--small {
  margin: 0.5em 0;
}
.block--large {
  margin: 2em 0;
}
.hidden {
  display: none;
}
.no-overflow {
  overflow: hidden;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.screen {
  min-height: 100vh;
}
@media (max-width: 480px) {
  .hide-s {
    display: none !important;
  }
}
@media (min-width: 481px) {
  .show-s {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .hide-l {
    display: none !important;
  }
}
@media (max-width: 1023px) {
  .show-l {
    display: none !important;
  }
}
.color--base {
  color: #fff;
}
.color--primary {
  color: #0288d1;
}
.color--default {
  color: #eee;
}
.color--success {
  color: #43a047;
}
.color--warning {
  color: #ffa000;
}
.color--critical {
  color: #c62828;
}
.type-smaller {
  font-size: ;
}
.type-small {
  font-size: ;
}
.type-normal {
  font-size: ;
}
.type-large {
  font-size: ;
}
.type-larger {
  font-size: ;
}
.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
  padding: 0 0.75em;
  margin: 0;
  border: 1px solid transparent;
  height: 2em;
  vertical-align: baseline;
  outline: 0;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 2px;
  font: inherit;
  white-space: nowrap;
  text-indent: 0;
  background: WHITE;
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn:active,
.btn.active {
  z-index: 2;
}
.btn * + * {
  margin-left: 0.5em;
}
.btn--base-outline,
a.btn--base-outline {
  background: transparent;
  color: #fff;
  border-color: #fff;
}
.btn--base-outline:hover,
a.btn--base-outline:hover {
  border-color: #d8d8d8;
  color: #d8d8d8;
}
.btn--base,
a.btn--base {
  background: #fff;
  color: #263238;
  border-color: #d8d8d8;
  border-bottom-color: #b8b8b8;
}
.btn--base:hover,
a.btn--base:hover {
  background: #f2f2f2;
}
.btn--base:active,
a.btn--base:active,
.btn--base.active,
a.btn--base.active {
  background: #e0e0e0;
  border-color: #b8b8b8;
  box-shadow: 0 3px 5px #c2c2c2 inset;
}
.btn--base[disabled],
a.btn--base[disabled] {
  opacity: 0.5;
  background: #fff;
  cursor: not-allowed;
}
.btn--primary-outline,
a.btn--primary-outline {
  background: transparent;
  color: #0288d1;
  border-color: #0288d1;
}
.btn--primary-outline:hover,
a.btn--primary-outline:hover {
  border-color: #0173b1;
  color: #0173b1;
}
.btn--primary,
a.btn--primary {
  background: #0288d1;
  color: #e1f4ff;
  border-color: #0173b1;
  border-bottom-color: #016296;
  text-shadow: 0 1px 1px #0274b2;
}
.btn--primary:hover,
a.btn--primary:hover {
  background: #0281c7;
}
.btn--primary:active,
a.btn--primary:active,
.btn--primary.active,
a.btn--primary.active {
  background: #0278b8;
  border-color: #016296;
  box-shadow: 0 3px 5px #01679f inset;
  color: #fff;
  text-shadow: 0 0 8px rgba(255,255,255,0.15);
}
.btn--primary[disabled],
a.btn--primary[disabled] {
  opacity: 0.5;
  background: #1c80b7;
  cursor: not-allowed;
}
.btn--default-outline,
a.btn--default-outline {
  background: transparent;
  color: #eee;
  border-color: #eee;
}
.btn--default-outline:hover,
a.btn--default-outline:hover {
  border-color: #cacaca;
  color: #cacaca;
}
.btn--default,
a.btn--default {
  background: #eee;
  color: #303030;
  border-color: #cacaca;
  border-bottom-color: #acacac;
}
.btn--default:hover,
a.btn--default:hover {
  background: #e2e2e2;
}
.btn--default:active,
a.btn--default:active,
.btn--default.active,
a.btn--default.active {
  background: #d1d1d1;
  border-color: #acacac;
  box-shadow: 0 3px 5px #b6b6b6 inset;
}
.btn--default[disabled],
a.btn--default[disabled] {
  opacity: 0.5;
  background: #eee;
  cursor: not-allowed;
}
.btn--success-outline,
a.btn--success-outline {
  background: transparent;
  color: #43a047;
  border-color: #43a047;
}
.btn--success-outline:hover,
a.btn--success-outline:hover {
  border-color: #38883c;
  color: #38883c;
}
.btn--success,
a.btn--success {
  background: #43a047;
  color: #ebf7ec;
  border-color: #38883c;
  border-bottom-color: #307433;
  text-shadow: 0 1px 1px #39883c;
}
.btn--success:hover,
a.btn--success:hover {
  background: #409843;
}
.btn--success:active,
a.btn--success:active,
.btn--success.active,
a.btn--success.active {
  background: #3b8d3e;
  border-color: #307433;
  box-shadow: 0 3px 5px #327a36 inset;
  color: #fff;
  text-shadow: 0 0 8px rgba(255,255,255,0.15);
}
.btn--success[disabled],
a.btn--success[disabled] {
  opacity: 0.5;
  background: #4f9452;
  cursor: not-allowed;
}
.btn--warning-outline,
a.btn--warning-outline {
  background: transparent;
  color: #ffa000;
  border-color: #ffa000;
}
.btn--warning-outline:hover,
a.btn--warning-outline:hover {
  border-color: #d88800;
  color: #d88800;
}
.btn--warning,
a.btn--warning {
  background: #ffa000;
  color: #332000;
  border-color: #d88800;
  border-bottom-color: #b87400;
}
.btn--warning:hover,
a.btn--warning:hover {
  background: #f29800;
}
.btn--warning:active,
a.btn--warning:active,
.btn--warning.active,
a.btn--warning.active {
  background: #e08d00;
  border-color: #b87400;
  box-shadow: 0 3px 5px #c27a00 inset;
}
.btn--warning[disabled],
a.btn--warning[disabled] {
  opacity: 0.5;
  background: #df9820;
  cursor: not-allowed;
}
.btn--critical-outline,
a.btn--critical-outline {
  background: transparent;
  color: #c62828;
  border-color: #c62828;
}
.btn--critical-outline:hover,
a.btn--critical-outline:hover {
  border-color: #a82222;
  color: #a82222;
}
.btn--critical,
a.btn--critical {
  background: #c62828;
  color: #fae8e8;
  border-color: #a82222;
  border-bottom-color: #8f1d1d;
  text-shadow: 0 1px 1px #a82222;
}
.btn--critical:hover,
a.btn--critical:hover {
  background: #bc2626;
}
.btn--critical:active,
a.btn--critical:active,
.btn--critical.active,
a.btn--critical.active {
  background: #ae2323;
  border-color: #8f1d1d;
  box-shadow: 0 3px 5px #971f1f inset;
  color: #fff;
  text-shadow: 0 0 8px rgba(255,255,255,0.15);
}
.btn--critical[disabled],
a.btn--critical[disabled] {
  opacity: 0.5;
  background: #b23c3c;
  cursor: not-allowed;
}
.btn--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.btn--hollow {
  border: 0;
  background: transparent;
}
.btn--smaller {
  font-size: 0.75em;
}
.btn--small {
  font-size: 0.85em;
}
.btn--normal {
  font-size: 1em;
}
.btn--large {
  font-size: 1.2em;
}
.btn--larger {
  font-size: 1.5em;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0.5em;
  height: 2em;
  vertical-align: baseline;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #cacaca;
  border-radius: 2px;
  background: WHITE;
  box-shadow: 0 1px 3px #eee inset;
}
.input:focus {
  border-color: #0288d1;
  box-shadow: 0 0 6px rgba(2,136,209,0.5);
}
.input[disabled] {
  background: #eee;
  color: $color-muted;
}
textarea.input {
  height: auto;
  white-space: pre-wrap;
  resize: none;
}
.input--block {
  display: block;
  width: 100%;
}
.input--smaller {
  font-size: 0.75em;
}
.input--small {
  font-size: 0.85em;
}
.input--normal {
  font-size: 1em;
}
.input--large {
  font-size: 1.2em;
}
.input--larger {
  font-size: 1.5em;
}
.input--hollow,
.input--hollow:focus {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
.ctl-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}
.ctl-group > * {
  position: relative;
  z-index: 2;
  border-radius: 0;
  margin-left: -1px;
}
.ctl-group > *:first-child {
  margin-left: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ctl-group > *:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ctl-group > input {
  z-index: 1;
}
.container {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  min-height: 0;
  -webkit-transition: width 0.3s, padding 0.3s, min-height 0.3s;
  transition: width 0.3s, padding 0.3s, min-height 0.3s;
}
@media (min-width: 1024px) {
  .container--fixed {
    width: 1024px;
  }
}
@media screen and (min-width: 640px) {
  .container--column {
    padding: 4em 0;
    width: 640px;
  }
}
.hr {
  height: 4px;
  background-image: url("/assets/hr.jpg");
  background-size: cover;
  background-position: 50% 0;
}
i.icon {
  font-style: normal;
}
i.icon--check::before {
  content: '✔︎';
}
i.icon--cross::before {
  content: '✘︎';
}
i.icon--hearts::before {
  content: '♥';
}
i.icon--diamonds::before {
  content: '♦︎';
}
i.icon--clubs::before {
  content: '♣︎';
}
i.icon--spades::before {
  content: '♠︎';
}
.showcase {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3e3e65;
  color: #fff;
  -webkit-animation: colorshift 60s infinite alternate ease-in-out;
          animation: colorshift 60s infinite alternate ease-in-out;
}
.showcase::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.showcase .container {
  z-index: 2;
}
.showcase-subtitle {
  margin: 2em 0;
  font-size: 1.2em;
}
@-webkit-keyframes colorshift {
  0% {
    background: #3e3e65;
  }
  25% {
    background: #3e6558;
  }
  50% {
    background: #3d3347;
  }
  75% {
    background: #653e3e;
  }
  100% {
    background: #3e3e65;
  }
}
@keyframes colorshift {
  0% {
    background: #3e3e65;
  }
  25% {
    background: #3e6558;
  }
  50% {
    background: #3d3347;
  }
  75% {
    background: #653e3e;
  }
  100% {
    background: #3e3e65;
  }
}
