* {
    box-sizing: border-box;
}

html,
body,
img,
form {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: var(--font-size);
    font-family: var(--font-main);
    font-weight: var(--font-weight);
    line-height: var(--line-height);

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizeLegibility;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
}

input[type="checkbox"] {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--sp2) 0;
    line-height: 1em;
}

h1 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    color: var(--h1-color);
}

h2 {
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    color: var(--h2-color);
}

h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    color: var(--h3-color);
}

h4 {
    font-weight: var(--h4-font-weight);
    font-size: var(--h4-font-size);
    color: var(--h4-color);
}

h5 {
    font-weight: var(--h5-font-weight);
    font-size: var(--h5-font-size);
    color: var(--h5-color);
}

h6 {
    font-weight: var(--h6-font-weight);
    font-size: var(--h6-font-size);
    color: var(--h6-color);
}

strong {
    font-weight: var(--font-weight-bold);
}

kbd {
    position: relative;

    display: inline-block;
    text-align: center;

    border: 1px solid var(--color-base-2);
    border-bottom-width: 2px;
    border-bottom-color: var(--color-base-3);
    height: 1.5em;
    min-width: 1.5em;
    padding: 0 .25em;
    margin: 0 2px;
    border-radius: 4px;

    font: inherit;
    background: var(--color-base-0);
    background: radial-gradient(
        100% 100% at 100% 0%,
        var(--color-base-0) 0%,
        var(--color-base-1) 100%);
}

kbd::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 2px;
    bottom: -4px;
    left: -3px;
    right: -3px;
    border-radius: 4px;
    border: 1px solid var(--color-base-4);
}
