:root {
    --sp: 8px;
    --sp0-5: calc(0.5 * var(--sp));
    --sp1: var(--sp);
    --sp1-5: calc(1.5 * var(--sp));
    --sp2: calc(2 * var(--sp));
    --sp2-5: calc(2.5 * var(--sp));
    --sp3: calc(3 * var(--sp));
    --sp4: calc(4 * var(--sp));
    --sp5: calc(5 * var(--sp));
    --sp6: calc(6 * var(--sp));
    --sp7: calc(7 * var(--sp));
    --sp8: calc(8 * var(--sp));
    --sp9: calc(9 * var(--sp));
    --sp10: calc(10 * var(--sp));
    --sp12: calc(12 * var(--sp));
    --sp16: calc(16 * var(--sp));
    --sp24: calc(24 * var(--sp));
    --sp32: calc(32 * var(--sp));
}
