kbd {
    position: relative;

    display: inline-block;
    text-align: center;

    border: 1px solid var(--color-base-2);
    border-bottom-width: 2px;
    border-bottom-color: var(--color-base-3);
    height: 1.5em;
    min-width: 1.5em;
    padding: 0 .25em;
    margin: 0 2px;
    border-radius: 4px;

    font: inherit;
    background: var(--color-base-0);
    background: radial-gradient(
        100% 100% at 100% 0%,
        var(--color-base-0) 0%,
        var(--color-base-1) 100%);
}

kbd::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 2px;
    bottom: -4px;
    left: -3px;
    right: -3px;
    border-radius: 4px;
    border: 1px solid var(--color-base-4);
}
