.color-primary { color: var(--color-primary) }
.color-secondary { color: var(--color-secondary) }
.color-tertiary { color: var(--color-tertiary) }
.color-success { color: var(--color-success) }
.color-warning { color: var(--color-warning) }
.color-danger { color: var(--color-danger) }
.color-subtle { color: var(--color-subtle) }
.color-sublime { color: var(--color-sublime) }

.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.flex-3 { flex: 3 }
.flex-4 { flex: 4 }
.flex-5 { flex: 5 }
.flex-6 { flex: 6 }
.flex-7 { flex: 7 }
.flex-8 { flex: 8 }
.flex-9 { flex: 9 }
.flex-10 { flex: 10 }
.flex-11 { flex: 11 }
.flex-12 { flex: 12 }

.input-clear {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    background: none;
}

.input-mono {
    font: 12px/1.4 var(--font-monospace);
}

.text-small { font-size: var(--font-size-small) }
.text-smaller { font-size: var(--font-size-smaller) }
.text-large { font-size: var(--font-size-large) }
.text-larger { font-size: var(--font-size-larger) }

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
